
header {
    z-index: 1;
}

.logo img{
    height: 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(33, 228, 12, 0.1);
  width: 90%;
  margin: 30px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

ul{
  color: rgb(0, 0, 0);
}

.flex-container > div {
  background-color: rgba(255, 255, 255, 0.2);
  width: 40%;
  margin: 0 auto;
  /* text-align: center; */
  line-height: 75px;
  opacity: 1;
  font-size: 2em;
}

/* booking */
.booking-form {
    max-width: 800px;
    /* height: 2420px; */
    margin: 0 auto;
    /* position: absolute; */
}


/* contacts */
.map {
     margin: 0 auto;
     max-width: 700px;
}

.contact-form {
    max-width: 600px;
    background-color: rgba(164, 168, 164, 0.5);
    padding: 40px;
    /* font-size: 1.3rem; */
    /* line-height: 1.2; */
    margin-top: 40px;;
    margin-left: auto;
    margin-right: auto;
}

.contact-form h1 {
    text-align: center;
}

.contact-form form {
    max-width: 600px;
    font-size: 1.3rem;
    line-height: 1.2;
}

.contact-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.contact-form input[type=button], .contact-form input[type=submit], .contact-form input[type=reset] {
    background-color: #2792da;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.contact-form label {
    padding: 12px 0px 5px 0;
    display: inline-block;
    color: rgb(15, 209, 223);
    font-weight: 700;
}

.contact-form .col-25 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.contact-form .col-75 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.contact-form .row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
        .contact-form .col-25, .contact-form .col-75, .contact-form input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}



/* galley */
.gallery {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    max-width: 90%;
    margin: 0 auto;
    /* max-height: 400px; */
}

.gallery figure {
    margin: 1rem;
    position: relative;
}

.gallery figure figcaption {
    background: rgba(250,250,250, .8);
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 1rem;
    /* -webkit-transition: max-height 0.3s ease-out; */
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}
		
p { margin-top: .5rem; }

.gallery img {
    /* background-color: #d6d6d1; */
    /* margin-bottom: 45px; */
    /* padding: 10px; */
    max-width: 100%;
    height: auto;
    /* margin: 0 auto; */
    /* max-width: 320px; */
    max-height: 400px;
    /* font-size: 30px; */
    object-fit: cover;
    object-fit: contain;
}

.gallery_row1, .gallery_row3 {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction:row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 25%;
}

.gallery_row2, .gallery_row4 {
    display: flex;
    background-color: rgba(197, 130, 130, 0.8);
    flex-direction:row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 25%;
}


@media screen and (min-width: 701px) {

    figure:hover figcaption{		
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: height .5s ease-in;
    }

    figure:hover p {
				opacity: 1;
				/* -webkit-transition: opacity .5s ease-in .6s;
				-moz-transition: opacity .5s ease-in .6s;
				-ms-transition: opacity .5s ease-in .6s; */
				transition: opacity .5s ease-in .6s;
			}

    figure figcaption { height: 50px; }
	
	p { opacity: 0; }
}

@media screen and (max-width: 700px) {
	/* figure { width: 100%; } */
	
	p { opacity: 1; }
	figcaption { height: auto; }

    .gallery_row1, .gallery_row2, .gallery_row3, .gallery_row4 {
        display: flex;
        background-color: rgba(255, 255, 255, 0.8);
        flex-direction:column;
        flex-wrap: wrap;
        align-items: center;
        flex-shrink: 1;
        margin: 0 auto;
        flex-grow: 1;
    }

 
}




@media (max-width: 600px) {
    body {
        background-image: url('../images/try8.jpg');
        background-repeat: no-repeat;
        /* background-size: 100% 100%; */
        background-size: cover;
        background-attachment:fixed;
    }

     /* send the check box miles away so it can't be seen or clicked on */
    input[type="checkbox"] {
        left: -9999px;
        opacity: 0;
        position: absolute;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    nav label {
        text-align: right;
        display: block;
        padding: 0.5em;
        line-height: 1.6em;
        color: rgba(0, 0, 0, 0);
    }

    nav {
        display: flex;
        width: 100%;
        position: relative;
        background-color: #5b6875;
        border-radius: 8px;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    input[type='checkbox']:not(:checked)+.menu_control links {
        display: none;
    }

    input[type='checkbox']:checked ~ .menu_control .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    input[type='checkbox']:checked ~ .menu_control .bar2 {
        opacity: 0;
    }

    input[type='checkbox']:checked ~ .menu_control .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    nav a {
        /* padding-left: 20px; */
        padding-right: 20px;
        font-size: 35px;
        display: flex;
        position: relative;
        z-index: 1;
        text-decoration: none;
        color: white;
    }
    nav .animation {
        position: absolute;
        height: 100%;
        top: 0;
        z-index: 0;
        transition: all .5s ease 0s;
        border-radius: 8px;
    }
    a:nth-child(1) {
        height: 70px;
    }
    a:nth-child(2) {
        height: 70px;
    }
    a:nth-child(3) {
        height: 70px;
    }
    a:nth-child(4) {
        height: 70px;
    }
    a:nth-child(5) {
        height: 70px;
    }
    nav .start-home, a:nth-child(1):hover~.animation {
        width: 300px;
        height: 60px;
        top: 50px;
        right: 0;
        background-color: #1abc9c;
    }
    nav .start-services, a:nth-child(2):hover~.animation {
        width: 300px;
        height: 60px;
        top: 120px;
        right: 0;
        background-color: #e74c3c;
    }
    nav .start-gallery, a:nth-child(3):hover~.animation {
        width: 300px;
        right: 0;
        height: 70px;
        top: 180px;
        background-color: #3498db;
    }
    nav .start-booking, a:nth-child(4):hover~.animation {
        width: 300px;
        right: 0;
        height: 70px;
        top: 250px;
        background-color: #9b59b6;
    }
    nav .start-contact, a:nth-child(5):hover~.animation {
        width: 300px;
        right: 0;
        height: 70px;
        top: 320px;
        background-color: #e67e22;
    }
}


@media screen and (min-width: 600px) {

    body {
        background-image: url('../images/try6.jpg');
        background-repeat: no-repeat;
        /* background-size: 100% 100%; */
        background-size: cover;
        background-attachment:fixed;
        background-blend-mode: lighten;
        background-color: rgba(1,10,0,0.5);
    }


    /* nav bar */
    nav input[type='checkbox'], nav label {
    display: none;
    }
    nav {
        display: flex;
        position: relative;
        height: 2em;
        background-color: #5b6875;
        border-radius: 8px;
        justify-content: flex-end;
        align-content: center;
    }
    nav a {
        padding-left: 0px;
        padding-right: 10px;
        font-size: 28px;
        position: relative;
        z-index: 1;
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    nav .animation {
        position: absolute;
        height: 100%;
        top: 10%;
        z-index: 0;
        transition: all .5s ease 0s;
        border-radius: 8px;
    }

    nav .start-home, a:nth-child(1):hover~.animation {
        width: 90px;
        right: 487px;
        background-color: #1abc9c;
    }
    nav .start-services, a:nth-child(2):hover~.animation {
        width: 130px;
        right: 357px;
        background-color: #e74c3c;
    }
    nav .start-gallery, a:nth-child(3):hover~.animation {
        width: 110px;
        right: 247px;
        background-color: #3498db;
    }
    nav .start-booking, a:nth-child(4):hover~.animation {
        width: 125px;
        right: 123px;
        background-color: #9b59b6;
    }
    nav .start-contact, a:nth-child(5):hover~.animation {
        width: 118px;
        right: 5px;
        background-color: #e67e22;
    }
}


@media screen and (min-width: 800px) {
    /* nav bar */
    nav {
        height: 2.7em;
    }
    
    nav a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 35px;
    }

    nav .start-home, a:nth-child(1):hover~.animation {
        width: 120px;
        right: 610px;
    }
    nav .start-services, a:nth-child(2):hover~.animation {
        width: 160px;
        right: 450px;
    }
    nav .start-gallery, a:nth-child(3):hover~.animation {
        width: 140px;
        right: 310px;
    }
    nav .start-booking, a:nth-child(4):hover~.animation {
        width: 160px;
        right: 150px;
    }
    nav .start-contact, a:nth-child(5):hover~.animation {
        width: 145px;
        right: 5px;
    }
}

@media screen and (min-width: 1050px) {
    /* nav bar */
    nav {
        height: 3em;
    }
    
    nav a {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 40px;
    }

    nav .start-home, a:nth-child(1):hover~.animation {
        width: 140px;
        right: 790px;
    }
    nav .start-services, a:nth-child(2):hover~.animation {
        width: 190px;
        right: 585px;
    }
    nav .start-gallery, a:nth-child(3):hover~.animation {
        width: 165px;
        right: 405px;
    }
    nav .start-booking, a:nth-child(4):hover~.animation {
        width: 190px;
        right: 195px;
    }
    nav .start-contact, a:nth-child(5):hover~.animation {
        width: 175px;
        right: 5px;
    }

}
  /* fonts */
    .mochiy-pop-one-regular {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: bold;
    font-style: normal;
  }