
body {
        overflow-x: hidden;
        /* background-color: rgba(255, 255, 255, 0); */
}

.main{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    /* filter:brightness(1.0); */
    position: absolute;
    z-index: -1;
}

header{
    background-color: #ffffff;
}

nav, footer{
    background-color: #5b5f64;
}

@media screen and (min-width: 701px) {

    figure:hover figcaption{		
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: height .5s ease-in;
    }

    figure:hover p {
        opacity: 1;
        transition: opacity .5s ease-in .3s;
	}

    figure figcaption { height: 5%; }
	
	figure p { opacity: 0; }

    .education {
        min-width: 500px;
    }

    body {
        background-image: url('../images/background.jpg');
        background-repeat: no-repeat;
        /* width: 90%; */
        margin: 0 auto;
        /* background-size: cover; */
        background-size: cover;
        background-position: center top;
        background-attachment:fixed;
        background-blend-mode: color-burn;
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@media screen and (max-width: 700px) {
	figure { width: 100%; }
	
	figure:hover figcaption{		
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: height .5s ease-in;
    }

    figure figcaption { height: 5%; }

    figure:hover p {
        opacity: 1;
        transition: opacity .5s ease-in .3s;
	}

    .booking-form {
        max-width: 100%;
    }

    body{
        background-image: url('../images/background_small.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
        height: 100%;
        margin: 0 auto;
        background-position: center top;
        background-blend-mode: color-burn;
        background-color: rgba(255, 255, 255, 0.8);
    }

     /* .contact-form {
        margin: 20px auto;
    }
    
    .col-25, .contact-form .col-75, .contact-form input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .booking-form {
        margin: 20px auto;
    }
    
    .col-25, .booking-form .col-75, .booking-form input[type=submit] {
        width: 100%;
        margin-top: 0;
    } */
}

.gallery figure {
    margin: 1rem;
    position: relative;
}

figure p { opacity: 0; }

.gallery figure figcaption {
    background: rgba(250,250,250, .8);
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 1rem;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

figure figcaption { height: 5%; }
		
.gallery p { margin-top: .5rem; }

.gallery img {
    max-width: 100%;
    min-width: 200px;
    height: auto;
}

figure, .img-vertical {
    /* max-height: 400px; */
    /* height: auto; */
    /* max-width: 100%; */
}

figure, .img-horizontal {
    /* max-height: 400px; */
    /* height: 400px; */
    /* width: auto; */
    /* max-width: 100%; */
}

footer {
    color: white;
}


/* Services section */

.services .table tr:nth-child(even) td{
    background-color: #f0cbe8;
 }

.services .table tr:nth-child(odd) td{
    box-shadow: none;
    background-color: #ffffff;
 }

.container-flex{
    justify-content: center;
}

.privacy p{
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.privacy-text{
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.roster{
    max-width: 1000px;
    padding-top: 40px;
    /* padding-bottom: 40px; */
    overflow-x: auto;
}

.roster th:first-child, .roster td:first-child{
    position: sticky;
    left: 0px;
    z-index: 1;
    background-color: #a7c522;
    white-space: nowrap;
}

.roster h3{
    position: sticky;
    left: 0px;
    z-index: 1;
}

.roster .col1{
    width: 110px;
}

.roster table{
    table-layout: fixed;
    min-width: 900px;
}


/* booking form*/

.booking-form label, .booking-form input{
    margin-top: 10px;
}

.booking-container {
    margin: 0 auto;
    max-width: 900px;    
}

.aboutus, .education, .booking-condition, .booking-form, .contact-form, .map{
    margin-left: 10px;
    margin-right: 10px;
}

.home, .booking, .contact, .services, .gallery, .privacy, .roster-content{
    padding-top: 20px;
    padding-bottom: 40px;
}

/* contact page */

.contact-form label, .contact-form input, .contact-form textarea{
    margin-top: 10px;
}

.contact h3, .home h3{
    padding-top: 20px;
}

.map {
    max-width: 500px;
}

.aboutus{
    max-width: 600px;
}

.navbar-brand{
    color: #b8e4b2;
    margin-left: 10px;
}

.navbar{
    background-color: #767c83;
}

.navbar-nav a{
    color: #ffffff;
    font-size: 1.3em;
    margin-left: 10px;
}

.booking h1, .booking label{
    color: #9b59b6;
    font-weight: bold;
}

.contact h1, .contact label{
    font-weight: bold;
    color: #e67e22;
}

.contact .btn, .booking .btn{
    color: #000;
    font-weight: bold;
    margin-left: 10px;
}

.contact .btn{
    background-color: #e67e22;
}

.booking .btn{
    background-color: #9b59b6;
}

.gallery h1{
    font-weight: bold;
    color: #3498db;
}

.services h1{
    font-weight: bold;
    color: #cf49c9;
}

.home h1{
    color: #1abc9c;
    font-weight: bold;
}

footer h5{
    margin-top: 10px;
}

.contact-form form, .booking-form form {
    background-color: rgba(164, 168, 164, 0.5);
    padding: 40px;
    font-size: 1.3rem;
    line-height: 1.2;
}

/* Nav section */
/* Highlights the main navigation links various colours based on page 
theme and will stay coloured for the active page  */

nav .start-home, a:nth-child(1):hover {
    background-color: #1abc9c;
}

nav li:nth-child(1) a:hover {
    background-color: #1abc9c;
}

nav .start-services, a:nth-child(2):hover {
    background-color: #cf49c9;
}

nav li:nth-child(2) a:hover {
    background-color: #cf49c9;
}

nav .start-gallery, a:nth-child(3):hover {
    background-color: #3498db;
}

nav li:nth-child(3) a:hover {
    background-color: #3498db;
}

nav .start-booking, a:nth-child(4):hover {
    background-color: #9b59b6;
}

nav li:nth-child(4) a:hover {
    background-color: #9b59b6;
}

nav .start-contact, a:nth-child(5):hover {
    background-color: #e67e22;
}

nav li:nth-child(5) a:hover {
    background-color: #e67e22;
}