
/* CSS to apply to the body on all pages of website */
body {
        overflow-x: hidden;
        /* background rules to have the picture background. */
        background-repeat: no-repeat;
        margin: 0 auto;
        background-size: cover;
        background-position: center top;
        background-attachment:fixed;
        background-blend-mode: color-burn;
        background-color: rgba(255, 255, 255, 0.8);
}

header{
    background-color: #ffffff;
}

nav, footer{
    background-color: #5b5f64;
}

/* CSS configurations for screens larger than 700px */
@media screen and (min-width: 701px) {

    figure:hover p {
        opacity: 1;
        transition: opacity .5s ease-in .3s;
	}

    .education {
        min-width: 500px;
    }

    body {
        /* larger background image used for bigger screens */
        background-image: url('../images/background.jpg');
    }
}

/* CSS configurations for screens smaller than 701px */
@media screen and (max-width: 700px) {
	figure { width: 100%; }

    figure:hover p {
        opacity: 1;
        transition: opacity .5s ease-in .3s;
	}

    .booking-form {
        max-width: 100%;
    }


    body{
        /* smaller background image used for smaller screens */
        background-image: url('../images/background_small.jpg');
    }
}

/* in large screen mode if you hover over image, display caption. Mobile mode caption will 
display on click, and will disappear after another image is clicked on */
figure:hover figcaption{		
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: height .5s ease-in;
}

.gallery figure {
    margin: 1rem;
    position: relative;
}

figure figcaption { height: 5%; }

figure p { opacity: 0; }

/* Display figure caption at the bottom of each image in gallery, the 
transition adds animation for large screens where the caption box increases in size and the text slowly appears. */
.gallery figure figcaption {
    background: rgba(250,250,250, .8);
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 1rem;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

/* Show 5% of the figure caption screen at bottom of image */
figure figcaption { height: 5%; }
		
.gallery p { margin-top: .5rem; }

.gallery img {
    max-width: 100%;
    min-width: 200px;
    height: auto;
}

footer {
    color: white;
}


/* Services section */

/* Show different colours for each line of the table */
.services .table tr:nth-child(even) td{
    background-color: #f0cbe8;
 }

.services .table tr:nth-child(odd) td{
    box-shadow: none;
    background-color: #ffffff;
 }

.container-flex{
    justify-content: center;
}

.privacy p{
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.privacy-text{
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.roster{
    max-width: 1000px;
    padding-top: 40px;
    /* padding-bottom: 40px; */
    overflow-x: auto;
}

/* Make the first column and header sticky so that the user can scroll and still see the times. */
.roster th:first-child, .roster td:first-child{
    position: sticky;
    left: 0px;
    z-index: 1;
    background-color: #a7c522;
    white-space: nowrap;
}

.roster h3{
    position: sticky;
    left: 0px;
    z-index: 1;
}

.roster .col1{
    width: 110px;
}

.roster table{
    table-layout: fixed;
    min-width: 900px;
}


/* booking form*/

.booking-form label, .booking-form input{
    margin-top: 10px;
}

.booking-container {
    margin: 0 auto;
    max-width: 900px;    
}

/* This is being applied to most pages to create white space when in mobile mode. */
.aboutus, .education, .booking-condition, .booking-form, .contact-form, .map{
    margin-left: 10px;
    margin-right: 10px;
}

/* Create space above and below content so the footer and nav are further away. */
.home, .booking, .contact, .services, .gallery, .privacy, .roster-content{
    padding-top: 20px;
    padding-bottom: 40px;
}

/* contact page */

.contact-form label, .contact-form input, .contact-form textarea{
    margin-top: 10px;
}

.contact h3, .home h3{
    padding-top: 20px;
}

.map {
    max-width: 500px;
}

.aboutus{
    max-width: 600px;
}

.navbar-brand{
    color: #b8e4b2;
    margin-left: 10px;
}

.navbar{
    background-color: #767c83;
}

.navbar-nav a{
    color: #ffffff;
    font-size: 1.3em;
    margin-left: 10px;
}

/* Add theme colours */
.booking h1, .booking label{
    color: #9b59b6;
    font-weight: bold;
}

/* Add theme colours */
.contact h1, .contact label{
    font-weight: bold;
    color: #e67e22;
}

.contact .btn, .booking .btn{
    color: #000;
    font-weight: bold;
    margin-left: 10px;
}

/* Add theme colours */
.contact .btn{
    background-color: #e67e22;
}

/* Add theme colours */
.booking .btn{
    background-color: #9b59b6;
}

/* Add theme colours*/
.gallery h1{
    font-weight: bold;
    color: #3498db;
}

/* Add theme colours*/
.services h1{
    font-weight: bold;
    color: #cf49c9;
}

/* Add theme colours*/
.home h1{
    color: #1abc9c;
    font-weight: bold;
}

footer h5{
    margin-top: 10px;
}

.contact-form form, .booking-form form {
    background-color: rgba(164, 168, 164, 0.5);
    padding: 40px;
    font-size: 1.3rem;
    line-height: 1.2;
}

/* Nav section */

/* Highlights the main navigation links various colours based on page 
theme and will stay coloured for the active page  */

nav .start-home, a:nth-child(1):hover {
    background-color: #1abc9c;
}

nav li:nth-child(1) a:hover {
    background-color: #1abc9c;
}

nav .start-services, a:nth-child(2):hover {
    background-color: #cf49c9;
}

nav li:nth-child(2) a:hover {
    background-color: #cf49c9;
}

nav .start-gallery, a:nth-child(3):hover {
    background-color: #3498db;
}

nav li:nth-child(3) a:hover {
    background-color: #3498db;
}

nav .start-booking, a:nth-child(4):hover {
    background-color: #9b59b6;
}

nav li:nth-child(4) a:hover {
    background-color: #9b59b6;
}

nav .start-contact, a:nth-child(5):hover {
    background-color: #e67e22;
}

nav li:nth-child(5) a:hover {
    background-color: #e67e22;
}